.ad {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;    
  padding: 13px;
  background-color: #2d3339 !important
}

.ad p {
  color: #8c989e !important;
  margin: 0;
}

.ad p strong {
  color: #f6cc68;
  font-weight: 700;
}

.ad p em {
  font-weight: 700;
  font-style: normal;
}