---
layout: default
---

<div>
  <hr>
  {% for post in site.posts %}
    {% unless post.hidden_from_frontpage %}
    <article>
      <h3 class="{{post.class}}"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      {{ post.date | date: "%e %B %Y" }} · {% include read_time.html content=post.content %} · <a class="commentCount" href="https://sizovs.net{{ post.redirect_from }}#disqus_thread">comments</a>
    </article>
    {% endunless %}
  {% endfor %}
  <script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
</div>