---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{forloop.rindex}}. {{ post.title }}</a></h1>
      <h6>{{ post.date | date: "%e %B %Y" }} · {% include read_time.html content=post.content %} · <a class="commentCount" href="{{ site.url }}{{ post.url }}#disqus_thread">comments</a></h6>
      <div class="entry">
        <p>
          {{ post.excerpt | strip_html }}
          <strong>
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
              Continue <i class="fas fa-angle-double-right"></i>
          </a>
        </strong>
        </p>
      </div>
    </article>

    <hr>
  {% endfor %}
  <script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
</div>