---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "form";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $primaryFont;
  color: $darkGray;
  min-height: 100%;
  position: relative;
}

hr, section::after, article h6::after {
  margin-left: auto!important;
  margin-right: auto!important;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;  
  height: 1.6rem;
  color: #222;
  text-align: center;
  display: block;
  border: 0;  
}

hr:before, section::after, article h6::after{
  content: "路路路";
  letter-spacing: 1em;
}

sup {
 vertical-align: super;
 font-size: smaller;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 15px;
  width: 100%;
}


h1, h2 {
  font-family: $headerFont, sans-serif;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkGray;
  font-weight: 700;
  line-height: 1.7em;
  margin-top: 2em;
  @include mobile {
    margin-top: 0 !important;
  }
  margin-bottom: 0.5em;
}

footer {
  text-align: center;  
}

.footnotes {
  font-size: 0.7em;
}

.hide-mobile {
  display: block;
  @include mobile {
    display: none;
  }
}

.show-mobile {
  display: none !important;
  @include mobile {
    display: block !important;
  }
}

h1 {
  text-align: center;
  margin-top: 1.5em;
  font-size: 2em;
  @include mobile {
    font-size: 1.5em;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 1.7em;
}

p {
  line-height: 1.7em;
  margin-bottom: 1.7em;
}

sup {
  font-size: 0.7em;
}

a {
  color: $darkGray;
	cursor: pointer;
  &:hover, &:active {
    color: $emphasize;
  }
}

ul, ol {
  line-height: 1.7em;
  margin-bottom: 1.7em;  
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

li {
  line-height: 1.7em;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

figure {
  text-align: center;
}

.centered {
  text-align: center;
}

img {
  max-width: 100%;
}

h6, figcaption {
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 2em;
}

br {
  clear: both;
}

table td, table th {
  padding: 5px;
}

table td {
  border-top: 1px solid #E8E8E8;
}

table th {
  font-weight: bold;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

header {
  
  .container {
    text-align: center;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
  }
  nav, nav a {
    color: $darkGray;
  }

  
  @include mobile {
    h2 {
      font-size: 1em;
    }
    h3 {
      display: none;
    }
  }  
  
}

.site-avatar {
  margin: 0 auto;
}

.site-avatar img {

  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 100%;
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $primaryFont;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.fa-heart {
  color: #DC143C;
}

.fa-star {
  color: #ffd700;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }  
}

nav {
  margin-top: 1.5em;

  @include mobile {
    margin-top: 0.5em;
  }

  a {
    margin-left: 1em;
    font-weight: 600;
  }

  a:first-child {
    margin-left: 0;
  }
}

.share i {
  font-size: 2em;
}

.commentCount {
  text-transform: lowercase;
}

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}


.post .entry > p {
  color: $darkGray;
  font-weight: 400;
  text-align: justify;  
}

.post {

  blockquote {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    padding-left: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-style: italic;
    border-left: 2px solid $emphasize;
    p {
      font-size: 1.5em;
      margin: 0;
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
  }
}


.what-to-expect {
  img[alt=Speaker] {
    width: 68px;
    float: left;
    margin-right: 1em;
  } 

  img[alt=Sponsor] {
    height: 60px;
    max-width: 100%;
    margin-right: 1em;
  }   
}

// conference listings 

.confs-list {
  tr td, tr td a {
    color: #878686 !important;
  }
  tr td strong a, tr td strong {
    color: black !important;
  }  
}

// best developer conferences

.confs {

  h2:not(:first-of-type), h2:not(:first-of-type) ~ p {
      color: #585858 !important;
  }

  h2:last-of-type, h2:last-of-type ~ p {
      color: black !important;
  }    

  h2:first-of-type + p + p a.button {
    cursor: pointer;
    color: white;
    background-color: #00A86B !important;
    border: 1px solid #039c64;
    border-radius: .2rem;
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
    &:hover, &:focus {
      border: 1px solid black;
      color: black;
    }
  }

  h2:first-of-type::after {
    content: " ( TOP 3 IN EUROPE)"
  }

  h2 + p strong:nth-child(n+2)::before {
    content: " 路 "
  }

  img[alt=Conference], img[alt=Unconference] {
      width: 200px;
      float: left;
      margin-right: 1em;
  }

  img[alt=Unconference] {
      filter: grayscale(90%);
      opacity: 0.8;
  }

  img[alt=Conference] {
      transition: all .2s ease-in-out;
  }

  img[alt=Conference]:hover {
      cursor: pointer;
      transform: scale(1.05);
  }

  .button-emph, .button {
    display: inline-block;
    margin-top: 1em;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";



