{% assign picks = site.data.conferences_meta.picks %}
{% assign allConferences = site.data.confs.conferences %}
{% assign skipPicks = allConferences[thisYear][include.topic] | concat: allConferences[nextYear][include.topic] %}
{% assign general = picks | concat: skipPicks | concat: picks | sort: "date" %}

## {{general | size}} {{include.what }} developer conferences of {{ thisYear }}

| Name           | Location  | Date           |
| :------------- | :-------- | :------------- |
{% for c in general -%}
{% assign name = c.name | truncate: 30, '...' -%}
{% assign location = c.city | append: ", " | append: c.country | truncate: 25 -%}
{% unless c.startDate contains c.endDate -%}
{% assign endDay = c.endDate | date: "%-d" -%}
{% assign month = c.startDate | date: "%b %y" -%}
{% assign date = c.startDate | date: "%-d" | append: "–" | append: endDay | append: " " | append: month -%}
{% endunless -%}
{% if c.startDate contains c.endDate -%}
{% assign date = c.startDate | date: "%-d %b" -%}
{% endif -%}
{% unless c.staffPick -%}
| {{name}} | {{location}} | {{date}} |
{% endunless -%}
{% if c.staffPick -%}
| **[{{name}}]({{c.url}}) (🏅top 3 in Europe)** | {{location}} | {{date}} |
{% endif -%}
{% endfor %}