{% assign thisYear = '2019' %}
{% assign nextYear = '2020' %}

{% assign today = 'now' | date: "%Y-%m-%d" %}

{% assign picks = site.data.conferences_meta.picks %}
{% assign allConferences = site.data.confs.conferences %}
{% assign confsTech = allConferences[thisYear][include.topic] | concat: allConferences[nextYear][include.topic] %}
{% assign confsTechNoDevTernity = confsTech | where_exp: "self", "self.name != 'DevTernity'" %}
{% assign confsTechNoMyStuff = confsTechNoDevTernity | where_exp: "self", "self.name != 'The Principal Developer'" %}
{% assign general = picks | concat: confsTechNoMyStuff %}
{% assign generalUpcoming = general | where_exp: "self", "self.startDate > today" %}
{% assign generalUpcomingSorted = generalUpcoming | sort: "startDate" %}

## {{generalUpcomingSorted | size}} upcoming {{include.what }} conferences of {{ thisYear }}

| Name           | Location  | Date           |
| :------------- | :-------- | :------------- |
{% for c in generalUpcomingSorted -%}
{% assign name = c.name | truncate: 30, '...' -%}
{% assign location = c.city | append: ", " | append: c.country | truncate: 25 -%}
{% unless c.startDate contains c.endDate -%}
{% assign endDay = c.endDate | date: "%-d" -%}
{% assign month = c.startDate | date: "%b %y" -%}
{% assign date = c.startDate | date: "%-d" | append: "–" | append: endDay | append: " " | append: month -%}
{% endunless -%}
{% if c.startDate contains c.endDate -%}
{% assign date = c.startDate | date: "%-d %b %y" -%}
{% endif -%}
{% unless c.staffPick -%}
| {{name}} | {{location}} | {{date}} |
{% endunless -%}
{% if c.staffPick -%}
| 🏅[{{name}}]({{c.url}}) | {{location}} | {{date}} |
{% endif -%}
{% endfor %}