<nav class="share hide-mobile">
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow">
      <i class="fab fa-facebook-square" aria-hidden="true"></i></a>
    <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;via=eduardsi&amp;text={{ page.title | cgi_escape }}"
      title="Share on Twitter" rel="nofollow">
      <i class="fab fa-twitter-square" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}"
      title="Share on LinkedIn" rel="nofollow">
      <i class="fab fa-linkedin" aria-hidden="true"></i></a>
    <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;title={{ page.title | cgi_escape }}"
      title="Share on Reddit" rel="nofollow">
      <i class="fab fa-reddit-square" aria-hidden="true"></i></a>
    <a href="http://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;t={{ page.title | url_encode }}"
      title="Share on Hacker News" rel="nofollow">
      <i class="fab fa-hacker-news-square" aria-hidden="true"></i>
    </a>
</nav>  