<!DOCTYPE html>
<html lang="en">
  <head>
      {% if page.includeYear %}
        {% assign year = 'now' | date: "%Y" %}
      {% else %}
        {% assign year = "" %}
      {% endif %}      
    <title>{% if page.title %}{{ page.title }} {{year}} – {% endif %}{{ site.title }} by {{ site.author }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?version=7" />  
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} by {{ site.author }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="//fonts.googleapis.com/css?family=Oswald:400%7CLora:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="{{ site.avatar }}">
    <link rel="icon" href="{{ site.avatar }}">
    <link rel="shortcut icon" sizes="64x64" href="{{ site.avatar }}">

    <script>
        function hide(eid) {
          var item = document.getElementById(eid)
          item.style.display = "none";
        }

        function show(eid) {
          var item = document.getElementById(eid)
          item.style.display = "block";
        }
    </script>
  </head>

  <body>
      <header id="header">
        <div class="container show-mobile">
            <i id="toggle" class="fas fa-bars" onclick="show('about'); hide('toggle')"></i>
        </div>
        <div class="container hide-mobile" id="about">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="Eduard's avatar"/></a>
          <nav>
            <a href="/"><i class="fa fa-home"></i></a>
            <a href="{{ site.baseurl }}/about">About me</a>
            <a href="{{ site.baseurl }}/about#training">Training</a>
            <a href="{{ site.baseurl }}/about#subscribeForm">Subscribe</a>
            <a href="{{ site.baseurl }}/feed.xml"><i class="fas fa-rss"></i></a>
          </nav>
        </div>
      </header>
  

    <main class="container {{page.root_class_class}}">
      {{ content }}
    </main>
    {% include analytics.html %}
  </body>
</html>
