---
layout: default
---

<article class="post">
  {% if page.includeYear %}
  <h1>{{ page.title }} {{'now' | date: "%Y"}}</h1>
  {% else %}
    <h1>{{ page.title }}</h1>
  {% endif %}  
  
  {% if page.date %}
  <h6>
      {{ page.date | date: "%e %B %Y" }} · {{page.location}} · <a class="commentCount" href="{{ site.url }}{{ page.url }}#disqus_thread">comments</a>
  </h6>  
  {% endif %}
  <div class="centered">
    {% include share.html %}
  </div>
  <hr>


  <div class="entry">
    {{ content }}
  </div>

  {% unless page.noActions %}
    {% include call_for_action.html %}
  {% endunless %}
  
  {% include share.html %}

  {% include disqus.html %}
  {% include footer.html %}
</article>
